<cdk-virtual-scroll-viewport itemSize="20" class="example-viewport">
  <table>
    <thead>
      <tr>
        <th>Lab Test Name</th>
        <th>Lab Test Code</th>
        <th>Lab Sequence</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *cdkVirtualFor="let labTest of labTests" class="example-item">
        <td>{{ labTest.LabTestName }}</td>
        <td>{{ labTest.LabTestCode }}</td>
        <td>{{ labTest.LabSequence }}</td>
        <td>
          <ng-container>
            <button style="margin-right: 10px;background-color: green;"
              (click)="openUpdateLabTest(labTest)">Edit</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>