.box {
    margin: 10px;
    border: 1px solid black;

    padding: 10px;
}


.table-box {
    margin: 10px;
    border: 1px solid black;

    padding: 10px;
    /* Padding inside the box */

}

.table-box .row {
    border-bottom: 1px solid #ccc;
}

.close-btn {
    margin-left: 1320px;
    margin-top: 0px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}