<div class="boundary-box">

    <span class="close-btn" (click)="closePopup()">x</span>
    <h3 *ngIf="isEditMode">Update Lab Report Template</h3>
    <h3 *ngIf="!isEditMode">Add Lab Report Template</h3>

    <hr>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Report Template Name<span class="red-asterisk">*</span>:</p>
                </div>
                <div class="col">
                    <input type="text" name="report_template_name" id="report_template_name"
                        [(ngModel)]="UpdatedReportTemplate.ReportTemplateName">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Report Template Short Name<span class="red-asterisk">*</span>:</p>
                </div>

                <div class="col">
                    <input type="text" name="lab_test_code" id="lab_test_code"
                        [(ngModel)]="UpdatedReportTemplate.ReportTemplateShortName">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Description:</p>
                </div>
                <div class="col">
                    <input type="text" name="description" id="description" placeholder="Report Description"
                        [(ngModel)]="UpdatedReportTemplate.Description">
                </div>
            </div>
        </div>
        <div class="col">
            <select name="reportTemplatesData" id="reportTemplatesData" (change)="UpdateTemplateType($event)">

                <option value="normal">Normal</option>
                <option value="html">Word Editor</option>
                <option value="culture">Culture and Sensitivity</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col">
                    <p> Column Settings:</p>
                </div>
            </div>

        </div>



        <div class="col-md-9">
            <div class="row">

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" name="select_all" id="select_all" (change)="SelectAll($event)">
                        </div>
                        <div class="col-md-10">
                            <P>Select All</P>
                        </div>
                    </div>
                </div>



                <div class="col-md-10" *ngIf="isEditMode">
                    <div class="row">
                        <div class="col" *ngFor="let item of ColSetting">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="checkbox" (change)="Show()" [name]="item[0]" id="item[0]"
                                        [(ngModel)]="item[1]">
                                </div>
                                <div class="col-md-10">
                                    <P>{{ item[0] }}</P>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-10" *ngIf="!isEditMode">
                    <div class="row">
                        <div class="col" *ngFor="let item of ColSetting">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="checkbox" (change)="Show()" [name]="item[0]" id="item[0]"
                                        [(ngModel)]="item[1]" [checked]="false">
                                </div>
                                <div class="col-md-10">
                                    <P>{{ item[0] }}</P>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Header Text:</p>
                </div>
                <div class="col">
                    <input type="text" name="header_text" id="header_text"
                        [(ngModel)]="UpdatedReportTemplate.HeaderText">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Is Default:</p>
                </div>

                <div class="col">
                    <input type="checkbox" name="is_default" id="is_default"
                        [(ngModel)]="UpdatedReportTemplate.IsDefault">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Footer Text:</p>
                </div>
                <div class="col">
                    <textarea name="footer_text" id="footer_text" class="custom-textarea"
                        [(ngModel)]="UpdatedReportTemplate.FooterText"> </textarea>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>Display Sequence:</p>
                </div>

                <div class="col">
                    <input type="number" name="display_sequence" id="display_sequence"
                        [(ngModel)]="UpdatedReportTemplate.DisplaySequence">
                </div>
            </div>
        </div>
    </div>



    <hr>


    <div class="row" style="margin-left: 970px;">
        <div class="col-md-12 text-right" style="margin-top: 20px;">
            <button class="btn btn-primary update-btn " *ngIf="isEditMode"
                (click)="UpdateReportTemplate()">Update</button>
            <button class="btn btn-primary add-btn " *ngIf="!isEditMode" (click)="AddReportTemplate()">Add
                Template</button>

        </div>
    </div>
</div>