.update-btn {
    font-size: 20px;
    margin-left: 300px;

}

.add-btn {
    font-size: 20px;
    margin-left: 260px;
    width: 150px;
}

.close-btn {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin-left: 1300px;

}

.custom-textarea {
    width: 80%;
    height: 100px;
}