.container {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    height: 400px;
    width: 300px;
    position: absolute;
    right: 0;
    margin-right: 430px;
    margin-top: 20px;
    background-color: wheat;
}

.header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.chat-row {
    border-bottom: 1px solid #ddd;
}

.chat-message {
    padding: 10px;
}

.chat1 {
    background-color: #e1f5fe;
    text-align: right;

}

.chat2 {
    background-color: #f0f4c3;
}

.hover1:hover {
    background-color: #aed9fb;
}

.hover2:hover {
    background-color: #d9fbbf;
}

.input-area {
    display: flex;
}

.input-area input {
    width: 80%;
}

.input-area button {
    width: 20%;
}

.messages {
    height: 80%;
    overflow: auto;
}